*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .main{
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      color: black;
  }
  
  footer{
      width: 100%;
      background-color: #26272b;
  }
  
  .sec1
  {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 30px 10px;
  }
  .about
  {
      width: 40%;
  }
  .sec1 h2
  {
      font-size: 18px;
      color: lightgrey;
      text-transform: uppercase;
  }
  .about p
  {
      text-align: justify;
      color: grey;
      line-height: 24px;
      margin-top: 10px;
  }
  
  .sec1 ul
  {
      list-style: none;
  
  }
  a
  {
      text-decoration: none;
      color: grey;
  }
  a:hover
  {
      color: goldenrod;
  }
  span
  {
      color: grey;
  }
  i
  {
      color: grey;
      font-size: 20px;
      margin-right: 8px;
  }
  .sec1 ul li
  {
      padding: 5px;
  
  }
  .sec2
  {
      display: flex;
      justify-content: center;
      padding: 30px;
      align-items: center;
  }
  .sec2 p
  {
      color: grey;
      font-size: 24px;
      padding: 0;
  }
  .sec2 a
  {
      display: inline-block;
      padding: 10px 15px;
      color: white;
      background-color: red;
      margin-left: 10px;
      border-radius: 20px;
      font-size: 18px;
  }
  .sec2 a:hover
  {
      background-color: goldenrod;
  }
  
  .sec3
  {
      display: flex;
      justify-content: center;
  }
  .sec3 ul
  {
      list-style: none;
      margin: 20px;
  }
  .sec3 ul li
  {
      display: inline-block;
      width: 60px;
      height: 60px;
      padding: 20px;
      background-color:black ;
      border-radius: 50%;
      margin-right: 20px;
  }
  .sec3 ul li i
  {
      color: white;
      font-size: 24px;
      line-height: 20px;
      text-align: center;
  }
  .sec3 ul li:nth-child(1):hover
  {
      background-color: #b33c33;
  }
  .sec3 ul li:nth-child(2):hover
  {
      background-color: #df2ddf;
  }
  .sec3 ul li:nth-child(3):hover
  {
      background-color: #500766;
  }
  .sec4
  {
      display: flex;
      justify-content: center;
      background-color: black;
      padding: 40px;
  }
  .sec4 p
  {
      color: lightgrey;
      position: relative;
  }
  .sec4 p::after
  {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      position: absolute;
      right: 0;
      bottom: -7px;
      background-color: goldenrod;
      transition: all .5s;
  }
  .sec4 p:hover::after
  {
      width: 100%;
  }
  hr
  {
      opacity: .2;
  }
  
  @media (max-width:767px)
  {
      .main{
          width: 100%;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 40px;
          color: black;
      }
      
      footer{
          width: 100%;
          background-color: #26272b;
      }
      
      .sec1
      {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 30px 10px;
      }
      .about
      {
          width: 100%;
          margin-bottom: 20px;
      }
      .sec1 h2
      {
          font-size: 18px;
          color: lightgrey;
          text-transform: uppercase;
      }
      .about p
      {
          text-align: justify;
          color: grey;
          line-height: 24px;
          margin-top: 10px;
      }
      
      .sec1 ul
      {
          list-style: none;
      
      }
      a
      {
          text-decoration: none;
          color: grey;
      }
      a:hover
      {
          color: goldenrod;
      }
      span
      {
          color: grey;
      }
      i
      {
          color: grey;
          font-size: 20px;
          margin-right: 8px;
      }
      .sec1 ul li
      {
          padding: 5px;
      
      }
      .sec2
      {
          display: flex;
          justify-content: center;
          padding: 30px;
          align-items: center;
      }
      .sec2 p
      {
          color: grey;
          font-size: 24px;
          padding: 0;
      }
      .sec2 a
      {
          display: inline-block;
          padding: 10px 15px;
          color: white;
          background-color: red;
          margin-left: 10px;
          border-radius: 20px;
          font-size: 18px;
      }
      .sec2 a:hover
      {
          background-color: goldenrod;
      }
      
      .sec3
      {
          display: flex;
          justify-content: center;
      }
      .sec3 ul
      {
          list-style: none;
          margin: 20px;
      }
      .sec3 ul li
      {
          display: inline-block;
          width: 60px;
          height: 60px;
          padding: 20px;
          background-color:black ;
          border-radius: 50%;
          margin-right: 20px;
      }
      .sec3 ul li i
      {
          color: white;
          font-size: 24px;
          line-height: 20px;
          text-align: center;
      }
      .sec3 ul li:nth-child(1):hover
      {
          background-color: #b33c33;
      }
      .sec3 ul li:nth-child(2):hover
      {
          background-color: #df2ddf;
      }
      .sec3 ul li:nth-child(3):hover
      {
          background-color: #500766;
      }
      .sec4
      {
          display: flex;
          justify-content: center;
          background-color: black;
          padding: 40px;
      }
      .sec4 p
      {
          color: lightgrey;
          position: relative;
      }
      .sec4 p::after
      {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          position: absolute;
          right: 0;
          bottom: -7px;
          background-color: goldenrod;
          transition: all .5s;
      }
      .sec4 p:hover::after
      {
          width: 100%;
      }
      hr
      {
          opacity: .2;
      }
  }